*,
*:before,
*:after{
  box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	height:100%;
}
body{
	background-color:#000;
	text-align:center;
}
svg{
  width: 99%;
  height: 99%;
}
.sun {
  fill:url(#sun);
  transform: rotate(10deg);
  transform-origin: center;
}
/*orbts line*/
.mercury-orbit {
  fill: none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.venus-orbit {
  fill: none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.earth-orbit {
  fill: url(#sunshine);
  stroke:#E6E6E6;
  stroke-width:2;
}
.mars-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.jupiter-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.saturn-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.uranus-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.neptune-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:2;
}
.neptune-orbit:hover {
  fill: #fd0 !important;
}
/*planets*/
/*groups*/
.mercury-group {
  transform-origin: center;
  animation: mercury-group 11s linear infinite;
}
.mercury {
  fill:#be9a60;
  transform-origin: center;
  animation: rotation-mercury 11s linear infinite;
}
.mercury-shadow {
  fill: url(#mercury-shadow);
}
.venus-group {
  transform-origin: center;
  animation: venus-group 12s linear infinite;
}
.venus {
  fill:url(#venus);
  transform-origin: center;
  animation: rotation-venus 12s linear infinite;
}
.earth-group{
  transform-origin: center;
  animation: earth-group 13s linear infinite;
}
.earth-limit{
  fill: none;
}
.earth {
  fill:url(#earth);
  transform-origin: center;
  animation: rotation-earth 13s linear infinite;
}
.moon-orbit {
  fill:none;
  stroke:#E6E6E6;
  stroke-width:1;
}
.moon-group {
  transform-origin: center;
  animation: moon-group 3s linear infinite;
}
.moon {
  fill:#E6E6E6;
  transform-origin: center;
  animation: rotation-moon 3s linear infinite;
}
.moon-shadow {
  fill: url(#shadow);
  transform-origin: center;
  animation: rotation-moon 3s reverse linear infinite;
}
.mars-group {
  transform-origin: center;
  animation: mars-group 14s linear infinite;
}
.mars {
  fill: url(#mars);
  transform-origin: center;
  animation: rotation-mars 14s linear infinite;
}
.jupiter-group {
  transform-origin: center;
  animation: jupiter-group 15s linear infinite;
}
.jupiter {
  fill: url(#jupiter);
  transform-origin: center;
  animation: rotation-jupiter 15s linear infinite;
}
.saturn-group {
  transform-origin: center;
  animation: saturn-group 16s linear infinite;
}
.saturn {
  fill: url(#saturn);
  transform-origin: center;
  animation: rotation-saturn 16s linear infinite;
}
.saturn-ring1{
  fill:none;
  stroke:#bf4c0d;
  stroke-width:400;
  animation: rotation-saturn 16s linear infinite;
}
.saturn-ring2{
  fill:none;
  stroke:#bf4c0d;
  stroke-width:50;
  animation: rotation-saturn 16s linear infinite;
}
.uranus-group{
  transform-origin: center;
  animation: uranus-group 17s linear infinite;
}
.uranus {
  fill: url(#uranus);
  transform-origin: center;
  animation: rotation-uranus 17s linear infinite;
}
.neptune-group{
  transform-origin: center;
  animation: neptune-group 18s linear infinite;
}
.neptune {
  fill: url(#neptune);
  transform-origin: center;
  animation: rotation-neptune 18s linear infinite;
}
.shadow {
  fill: url(#shadow);
}

/*animation*/
@keyframes mercury-group {
	0%{
		transform: rotate(0deg) translate(1000px);
	}
	100%{
		transform: rotate(-360deg) translate(1000px);
	}
}
@keyframes rotation-mercury {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes venus-group {
	0%{
		transform: rotate(0deg) translate(2000px);
	}
	100%{
		transform: rotate(-360deg) translate(2000px);
	}
}
@keyframes rotation-venus {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes earth-group {
	0%{
		transform: rotate(0deg) translate(3100px);
	}
	100%{
		transform: rotate(-360deg) translate(3100px);
	}
}
@keyframes rotation-earth {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes moon-group {
	0%{
		transform: rotate(0deg) translate(500px);
	}
	100%{
		transform: rotate(-360deg) translate(500px);
	}
}
@keyframes rotation-moon {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
@keyframes mars-group {
	0%{
		transform: rotate(0deg) translate(4100px);
	}
	100%{
		transform: rotate(-360deg) translate(4100px);
	}
}
@keyframes rotation-mars {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes jupiter-group {
	0%{
		transform: rotate(0deg) translate(5500px);
	}
	100%{
		transform: rotate(-360deg) translate(5500px);
	}
}
@keyframes rotation-jupiter {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes saturn-group {
	0%{
		transform: rotate(0deg) translate(8000px);
	}
	100%{
		transform: rotate(-360deg) translate(8000px);
	}
}
@keyframes rotation-saturn {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes uranus-group {
	0%{
		transform: rotate(0deg) translate(10500px);
	}
	100%{
		transform: rotate(-360deg) translate(10500px);
	}
}
@keyframes rotation-uranus {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes neptune-group {
	0%{
		transform: rotate(0deg) translate(12000px);
	}
	100%{
		transform: rotate(-360deg) translate(12000px);
	}
}
@keyframes rotation-neptune {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
